@(data: (GameSeries, Seq[Form[forms.GameSeriesUploadForm.GameSeriesUpload]]))(implicit request: Request[_])

<script src='@routes.Assets.at("javascript/seriesupload.js")' type="text/javascript"></script>
@data._2.map{ fileUploadResult =>
	@helper.form(helper.CSRF(routes.GameSeriesControler.completeUpload(data._1.id))){
		<div>
			<h3>Players</h3>
			<ul class="sixColumn">
				@helper.repeat(fileUploadResult("players")){ player =>
					<li data-player-id="@player("id").value" class="player">
						@helper.inputHidden(player("id"))
						@helper.inputHidden(player("name"))
						@player("name").value
						<div>
						@helper.repeat(player("nicknames")) { nickname =>
							a.k.a. @nickname.value
							@helper.inputHidden(nickname)
						}
						</div>
					</li>
				}
			</ul>
		</div>
		<div>
			<h3>Results</h3>
			@helper.repeat(fileUploadResult("games")){ game =>
				<div>
					@helper.inputHidden(game("gameTypePath"))
					@helper.inputHidden(game("hosted"))
					@helper.inputHidden(game("playedOn"))
					<h4>@game("playedOn").value hosted by @game("hosted").value</h4>
					<ol>
						@helper.repeat(game("results")){ result =>
							<li>
								@helper.inputHidden(result("position"))
								@helper.inputHidden(result("player"))
								@helper.inputHidden(result("name"))
								@result("name").value
							</li>
						}
					</ol>
				</div>
			}
		</div>
		<div>
			<input type="submit" value="submit"/>
		</div>
	}
}