@(title: String)(header: Html)(body: Html)(implicit request: Request[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("less/lists.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascript/jquery-1.10.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/jquery-ui-1.10.4.custom.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div id="header">
			@header
    	</div>
    	<div id="body">
    		<h1>@title</h1>
    		<div id="content">
        		@body
        	</div>
        </div>
        <div id="footer">
        	&copy;Sandbag Inds
        </div>
    </body>
</html>
