ul{
  margin-bottom:20px;
  overflow:hidden;
}
ul > li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
}
ul.twoColumn > li  { width:50%;} 
ul.threeColumn > li  { width:33.333%; } 
ul.foucColumn > li    { width:25%; } 
ul.sixColumn > li     { width:16.666%; } 